@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #0bc7bed8, #4d25ffda);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span {
    font-weight: 60px;
}

.relogio span.tempo {
    font-size: 10px;
}
